{% extends 'shared/shared.html' %}

{% block content %}
<div class="container">
    <h3>Change password</h3>
    {% if error %}
        <div class="row">
            <div class='col alert alert-danger alert-dismissible' role='alert'>
                <div>{{error}}</div>
                <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='close'></button>
            </div>
        </div>
    {% endif %}

    <div class="row my-2">
        <div class="col">
            <form method="POST">
                {% csrf_token %}
                <div class="row mb-2">
                    <input type="password" placeholder="Your old password" name="old_password" required>
                </div>

                <div class="row mb-2">
                    <input type="password" placeholder="New Password" name="password_1" required>
                </div>

                <div class="row mb-2">
                    <input type="password" placeholder="Repeat new password" name="password_2" required>
                </div>

                <div class="row mb-2">
                    <div class="col">
                        <input type="submit" class="btn btn-primary my-2" value="Submit">
                    </div>    
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock  %}