{% extends 'shared/shared.html' %}

{%block title%}
    <title>User-info</title>
{%endblock%}

{% block content %}
<div class="container">

    <div class="row my-3">
        <div class="col-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-5">
                            <p class="card-text">Username:</p>
                        </div>
                        <div class="col">
                            <p class="card-text">{{request.user.username}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-5">
                            <p class="card-text">Email:</p>
                        </div>
                        <div class="col">
                            <p class="card-text-center">{{request.user.email}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-1">
                <a href="{% url 'logout' %}" class="btn btn-danger mb-3">Logout</a>
            </div>
            <div class="col-1">
                <a href="{% url 'change_password' %}" class="btn btn-warning mb-3">Change password</a>
            </div>
            <div class="col-2">
                <a href="#" class="btn btn-warning mb-3">Change email</a>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-5">
            <div class="col-4 card mb-2"><h3 class="text-center">Orders:</h3></div>
            
            {% for order in order_of_user %}
                <div class="card mb-3">
                    <div class="card-body">
                        <p class="text-start">Order ID: {{order.pk}}</p>
                        <p class="text-start">Date: {{order.created_at}}</p>
                        <p class="text-start">Clothes in order:</p>
                        <div class="row">
                            <div class="col-1"></div>
                            <div class="col">
                                {% for key,value in clothes_in_order.items %}
                                    {% if key == order.pk %}
                                        {% for v in value %}
                                            <p class="text-start">Description: {{v.clothe.description}}</p>
                                            <p class="text-start">Units: {{v.units}}</p>
                                        {% endfor %}    
                                    {% endif %}  
                                {% endfor %}
                            </div>
                        </div>
                        <p class="text-start">Total: {{order.total_to_pay}}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="col"></div>
    </div>
</div>


{% endblock %}