<div class="modal fade " id="ModalForDelete_{{image_color.0}}" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog text-light">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="ModalForDeleteLabel">Are you sure?</h1>
            </div>
            <div class="modal-body">
                <p>If you delete it, you will not able to recover the data</p>
            </div>
            <div class="modal-footer">
                
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-dark" data-bs-dismiss="modal" onclick="delete_img_color({{image_color.0}})">Delete</button>
            </div>
        </div>
    </div>
</div>