{% extends 'shared/shared.html' %}


{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/border_color_for_selection.css'%}">

<script src="{% static "js/get_imgs_from_color.js" %}"></script>

<div class="container">
    <div class="row">

        <div class="col-6 my-3" >
            {% comment "" %}
            Image here
            {% endcomment %}
            <div class="row" id="images">
                {% for image in images %}
                    <div class="col-6 my-2">
                        <div class="card-body">
                            <img src="{{image}}" class="card-img" style="border: 1px solid black;" >
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    

        <div class="col my-3">
            {% comment "" %}
            Content and button to add here
            {% endcomment %}

            
            <div class="row">
                <div class="col">
                    <p>{{clothe.description}}</p>
                </div>
            </div>
                  
            <div class="row my-2">
                <div class="col">
                    <p>Color:</p>
                    {% for color in colors %}
                        <input type="radio" onclick="get_images_from_color({{clothe.id}},{{color.id}})" name="options-color" id="{{color.color_name}}" class="btn-check " autocomplete="off" value="{{color.id}}">
                        <label class="btn" for="{{color.color_name}}" >
                            <div style="height: 30px; width: 30px; background-color: {{color.color}}; border-radius: 50%; border: 1px solid black;"></div>
                        </label>
                        {% comment %} <div style="height: 30px; width: 30px; background-color: {{color.color}}; border-radius: 50%;"></div> {% endcomment %}
                    {% endfor %}
                </div>
            </div>
            <br>
            <div class="row my-2">
                <div class="col">
                    <p>Size:</p>
                    {% for size in clothe.sizes.all %}
                        <input type="radio" name="options-size" id="{{size.size}}" value="{{size.id}}" class="btn-check" autocomplete="off">
                        <label class="btn" for="{{size.size}}">{{size.size}}</label>
                    {% endfor %}
                </div>
            </div>

            <div class="row my-2">
                <div class="col">
                    <p>{{clothe.price}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-outline-dark card-text w-80" style="font-size: 13px" onclick="add_item_to_car_shop({{clothe.id}})" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">Add to car</button>
                </div>
            </div>
            

        </div>
    </div>
</div>

{% endblock %}