{% extends "shared/shared.html"%}

{%block title%}
    <title>Simple-Clothes-Store</title>
{%endblock%}

{%block content%}
    <div class="container">
        
        
        <div class="row">
            <div class="col">
                <h2>Welcome to the Simple App Store</h2>
            </div>    
        </div>

        <div class="row">
            <div class="col">
                <h3 class="my-4 mb-2">Latest in female clothes</h3>
                {% with items_for_slide=items_for_slide_F Gender=F %}
                    {% include "components/carousel.html" %}
                {% endwith %}
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h3 class="my-4 mb-2">Latest in male clothes</h3>
                {% with items_for_slide=items_for_slide_M Gender=M %}
                    {% include "components/carousel.html" %}
                {% endwith %}
            </div>
        </div>
        
    </div>

{%endblock%}