<footer class="bg-light mt-auto"> 
    <div class="container py-5">
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
            <ul class="list-unstyled mb-0">
              <li class="mb-2"><a href="{% url 'products-F-All' %}" class="text-muted">For Women</a></li>
              <li class="mb-2"><a href="{% url 'products-M-All' %}" class="text-muted">For Men</a></li>
            </ul>
          </div> 
    </div> 
</footer>  