<!-- Button trigger modal -->
<script src="{{url_for("static",path="js/get_comments.js")}}"></script>
<button type="button" class="btn btn-outline-primary text-light btn-sm" onclick="get_comments_for_post({{post.id}})" data-bs-toggle="modal" data-bs-target="#exampleModal">
    comment
  </button>

  <!-- Modal -->
  <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content bg-dark">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Comments</h5>
          <button type="button" class="btn-close text-light" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          {% include "components/comments.html"%}
        </div>

      </div>
    </div>
  </div>
