<script src="{{url_for("static",path="js/like.js")}}"></script>

<div class="container text-white bg-dark" id="{{post.id}}">

     <div class="row mb-3 " >
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div class="card shadow bg-dark">
            <div class="card-body">
              <div class="row">
                <div id="result" class="text-danger text-bold lead"></div>
              </div>
              <div class="row">
                <div class="col">
                  <a class="text-white" href="/user-info/{{post.owner_id}}">{{user.username}}</a>
                </div>
                <div class="col text-right vav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark text-center" style="width: 10rem;" sty aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item " href="#">Save</a></li>
                    {% if current_user.id == post.owner_id%}
                      <li><a class="dropdown-item " href="/edit-post/{{post.id}}">Edit</a></li>
                      <li><button type="button" class="dropdown-item " onclick="delete_post({{post.id}})">Delete</button></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>

            {% if post.content != ""%}
              <div class="card bg-dark">
                <div class="card-body">
                  <div class="row">
                    <div class="col mb-3">
                      <p class="card-text">
                        {{post.content}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}

            {% if post.media_dir %}
              <div class="card bg-dark">
                <div class="col mb-1">
                  <img class="card-img" src="{{url_for("media",path=post.media_dir)}}">
                </div>
              </div>
            {% endif%}
              <div class="card bg-dark">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-2 text-center">
                      <p class="card-text text-center btn btn-outline-dark text-light btn-sm" id="like">{{post.votes}}</p>
                    </div>
                    <div class="col-sm-2 text-center">
                      <button type="button" class="btn btn-outline-primary text-light btn-sm"  onclick="like({{post.id}})">like</button>
                    </div>
                    <div class="col-sm-4 text-center">
                      {% include "components/modal.html"%}
                    </div>

                    <div class="col-sm-2 text-right">
                      <button type="button" class="btn btn-outline-primary text-light btn-sm">Share</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="col-sm-3"></div>
      </div>
      <script src="{{url_for("static",path="js/delete_post.js")}}"></script>
</div>
